{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>
  <a href="{% url 'taxi:driver-create' %}" class="btn btn-primary">Create</a>

  <ul>
    {% for driver in driver_list %}
      <li>
        <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
          {{ driver.username }} - {{ driver.first_name }} {{ driver.last_name }}
        </a>
      </li>
    {% empty %}
      <p>No drivers available.</p>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
